:root{
  --body_background: linear-gradient(to  bottom, #B6FFFF, #FAF0E6);
  --body_color: #FAF0E6;
  --link_color: navy;
  --text_shadow: rgba(0, 0, 0, 0.5);
  --home_col_back: #086e79;
  --mini-sec-back: #032e2d81;
  --blog-color: #086e79;
}
[data-theme="dark"]{
  --body_background: linear-gradient(to  top, #010507, #02090C, #020F13, #021719, #021E1C);
  --body_color: #FAF0E6;
  --link_color: red;
  --text_shadow: rgba(255, 255, 255, 0.5);
  --home_col_back: #032e2d;
  --mini-sec-back: #086e7978;
  --blog-color:#FAF0E6 ;
}

* {
  transition: all 0.3s ease-in-out;
}

.myLinks{
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--body_background);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
